@charset "UTF-8";
/*extend en pagina html quienes somos*/
.nombre1, .nombre2 {
  font-size: 0.8rem;
  font-weight: bold;
  background-color: rgba(143, 6, 6, 0.781);
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Farsan', cursive;
  margin: 2rem; }

.descripcionIntegrante1, .descripcionIntegrante2 {
  font-size: 1rem;
  font-weight: bold;
  background-color: #f8e9f1;
  color: rgba(143, 6, 6, 0.781);
  text-align: justify;
  justify-self: center;
  width: 20rem;
  height: 6rem;
  border: 1px solid black;
  overflow: auto;
  margin-bottom: 3rem; }

.imagenAle, .imagenKarla {
  justify-self: center;
  transform: scale(0.95);
  margin-top: .8rem; }

/*es para las imagenes de KArla y Ale con pantallas mayores a 635 */
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilos del BODY, con el logo */
body {
  background: linear-gradient(whitesmoke, pink); }

/* estilos HEADER */
header {
  /*lo siguiente es para pisar el codigo de BS ya que el codigo tiene sus propios estilos y con esto me ayudo a quitarlos*/
  /* estilos del logo para girar ANIMACIONES CAMBIE LA DURACION */
  /* ANIMACIONES DE GIRAR EL LOGO CAMBIE LOS GRADOS */
  /* estilos del TITULO PRINCIPAL EN TODAS LAS HTML */ }
  header .navbar-collapse {
    padding: 0;
    display: flex;
    justify-content: right; }
  header .container-fluid {
    padding: 0;
    margin-right: 18px; }
  header .container {
    padding: 0;
    margin: 0; }
  header .girar {
    width: 4rem;
    margin-left: 4px;
    animation-name: girar;
    animation-iteration-count: infinite;
    animation-duration: 9s; }

@keyframes girar {
  from {
    transform: rotate(-17deg); }
  to {
    transform: rotate(17deg); } }
  header .tituloPrincipal {
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: rgba(143, 6, 6, 0.781);
    color: whitesmoke;
    text-transform: uppercase;
    font-family: 'Farsan', cursive; }
  header .menuPrincipal {
    background-color: pink;
    padding: 0; }
    header .menuPrincipal .submenuPrincipal {
      justify-content: right;
      font-size: 0.9rem;
      font-weight: bold;
      background-color: white;
      color: #080808;
      padding: .3rem;
      margin: 0.3rem;
      border-bottom: 0.2rem solid black;
      border-right: 0.2rem solid black;
      border-radius: .5rem;
      border-end-end-radius: .4rem; }

/* imports de las paginas html*/
/* GRID INDEX******************************************************************************************************/
.mainIndex {
  display: grid;
  grid-template-areas: "hdosIndex " "parrafoIndex " "imagen1 " "imagen2";
  justify-content: center;
  align-content: center;
  text-align: center; }

/*GRID QUIENES SOMOS**********************************************************************************************/
.mainQuienes {
  display: grid;
  grid-template-areas: "hdosIndex " "parrafoIndex " "tituloTres" "imagenAle" "nombre1" "descripcionIntegrante1" "imagenKarla" "nombre2" "descripcionIntegrante2";
  justify-content: center;
  align-content: center;
  text-align: center; }

/*GRID CONTACTANOS*************************************************************************************************/
.mainContactanos {
  display: grid;
  grid-template-areas: "hdosIndex " "parrafoIndex " "tituloTres" "tablaContactos" "imagen3";
  justify-content: center;
  align-content: center;
  text-align: center; }

/*GRID PRODUCTOS***************************************************************************************************/
.contenedorProductos {
  display: grid;
  grid-template-areas: "producto1 producto2 " "producto3 producto4 " "producto5 producto6 " "producto7 producto8 " "producto9 producto10" "producto11 producto12 " "producto13 producto14 " "producto15 producto16 ";
  justify-content: center;
  align-content: center;
  text-align: center; }

/* FIN DE GRIDS***************************************************************************************************/
/* asignacion del grid-area en las clases de las imagenes de los productos HTML PRODUCTOS */
.producto1 {
  grid-area: producto1;
  transition: .5s; }

.producto2 {
  grid-area: producto2;
  transition: .5s; }

.producto3 {
  grid-area: producto3;
  transition: .5s; }

.producto4 {
  grid-area: producto4;
  transition: .5s; }

.producto5 {
  grid-area: producto5;
  transition: .5s; }

.producto6 {
  grid-area: producto6;
  transition: .5s; }

.producto7 {
  grid-area: producto7;
  transition: .5s; }

.producto8 {
  grid-area: producto8;
  transition: .5s; }

.producto9 {
  grid-area: producto9;
  transition: .5s; }

.producto10 {
  grid-area: producto10;
  transition: .5s; }

.producto11 {
  grid-area: producto11;
  transition: .5s; }

.producto12 {
  grid-area: producto12;
  transition: .5s; }

.producto13 {
  grid-area: producto13;
  transition: .5s; }

.producto14 {
  grid-area: producto14;
  transition: .5s; }

.producto15 {
  grid-area: producto15;
  transition: .5s; }

.producto16 {
  grid-area: producto16;
  transition: .5s; }

/* pseudoclase hover para los productos */
.producto1:hover {
  transform: scale(0.9); }

.producto2:hover {
  transform: scale(0.9); }

.producto3:hover {
  transform: scale(0.9); }

.producto4:hover {
  transform: scale(0.9); }

.producto5:hover {
  transform: scale(0.9); }

.producto6:hover {
  transform: scale(0.9); }

.producto7:hover {
  transform: scale(0.9); }

.producto8:hover {
  transform: scale(0.9); }

.producto9:hover {
  transform: scale(0.9); }

.producto10:hover {
  transform: scale(0.9); }

.producto11:hover {
  transform: scale(0.9); }

.producto12:hover {
  transform: scale(0.9); }

.producto13:hover {
  transform: scale(0.9); }

.producto14:hover {
  transform: scale(0.9); }

.producto15:hover {
  transform: scale(0.9); }

.producto16:hover {
  transform: scale(0.9); }

/* estilos de las imagenes de HTML PRODUCTOS */
.contenedorProductos img {
  width: 11rem;
  height: 11rem;
  border: 0.2rem solid rgba(143, 6, 6, 0.781);
  margin: .1rem; }

/* estilos de las letras del HTML PRODUCTOS */
.contenedorProductos p {
  color: rgba(143, 6, 6, 0.781);
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem; }

/*  estilos de la tabla de productos */
.ListadoPrecios {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 2rem; }

section table tr td {
  border: 0.1rem solid rgba(143, 6, 6, 0.781);
  font-size: 1.5rem; }

.letraTabla {
  font-size: 1.3rem;
  font-weight: bold;
  background-color: rgba(143, 6, 6, 0.781);
  color: whitesmoke; }

/* estilos de la tabla seleccion del HTML PRODUCTOS */
.seleccionProducto {
  margin-bottom: rem;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 4rem; }

/* estilos del primer nombre del HTML QUIENES SOMOS */
.nombre1 {
  grid-area: nombre1; }

/* estilos del segundo nombre del HTML QUIENES SOMOS */
.nombre2 {
  grid-area: nombre2; }

.imagenAle {
  grid-area: imagenAle; }

.imagenKarla {
  grid-area: imagenKarla;
  margin-bottom: 2.3rem; }

/* pseudoclase hover para las imagenes 1 y dos de la pagina HTML y QUIENES SOMOS */
.imagenAle:hover {
  transform: scale(1.2); }

.imagenKarla:hover {
  transform: scale(1.2); }

/* estilos de la descripcion del HTML QUIENES SOMOS  */
.descripcionIntegrante1 {
  grid-area: descripcionIntegrante1; }

.descripcionIntegrante2 {
  grid-area: descripcionIntegrante2; }

/*  estilo de la tabla donde llena el usuario sus datos del HTML CONTACTANOS*/
.tablaContactos {
  grid-area: tablaContactos;
  width: 22rem;
  margin-left: 20%; }

/*  estilo de la imagen donde esta el face,telefono y mail  de nosotros del HTML CONTACTANOS*/
.imagen3 {
  grid-area: imagen3;
  justify-self: center;
  transform: scale(0.5);
  margin-top: 2rem;
  margin-bottom: 2rem; }

/* estilos del formulario que llenan los clientes en HTML CONTACTANOS */
.formularioCliente {
  margin: .5rem;
  color: rgba(143, 6, 6, 0.781);
  font-weight: bold;
  text-align: left; }

/* ESTILOS DEL CARRITO CON BOOTSTRAT
 */
.hdosCarrito {
  color: #4b0303;
  text-align: center;
  letter-spacing: .3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.parrafoCarrito {
  color: #4b0303;
  font-family: 'Signika Negative', sans-serif; }

.tituloTrescarrito {
  color: rgba(143, 6, 6, 0.781);
  font-family: 'Farsan', cursive;
  font-weight: 1rem; }

/* estilo de la imagen del carrito de compras del HTML CARRITO */
.carritodeCompras {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 10rem;
  height: 10rem; }

/*Esto lo puse para pisar el estilo de BS que utlice en la página carrito*/
.container {
  padding: 0;
  margin: 0; }

/* estilos del main subtitulos principales EN TODOS los HTML */
main {
  /* estilos de los parrafos del main EN TODOS los HTML*/
  /* estilos deL otro subtitulo  EN TODOS los HTML */
  /* estilos de primera imagen en el HTML INDEX Y HTML QUIENES SOMOS */
  /* estilos de segunda imagen en el HTML INDEX Y HTML QUIENES SOMOS */
  /* pseudoclase hover para las imagenes 1 y dos de la pagina HTML y QUIENES SOMOS */ }
  main .hdosIndex {
    grid-area: hdosIndex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #f8e9f1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4b0303;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding: .1rem;
    margin: 1rem; }
  main .parrafoIndex {
    grid-area: parrafoIndex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1.05rem;
    font-weight: lighter;
    background-color: #fcdfe5;
    line-height: 1.2rem;
    font-size: 1.05rem;
    margin-left: 2.2rem;
    margin-right: 2.2rem;
    color: #360202;
    font-family: 'Signika Negative', sans-serif;
    margin-bottom: 1.5rem; }
  main .tituloTres {
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #f8e9f1;
    grid-area: tituloTres;
    color: rgba(143, 6, 6, 0.781);
    text-transform: uppercase;
    font-family: 'Farsan', cursive;
    margin: 1rem; }
  main .imagen1 {
    grid-area: imagen1;
    justify-self: center;
    transform: scale(1.1);
    margin-top: .8rem; }
  main .imagen2 {
    grid-area: imagen2;
    justify-self: center;
    transform: scale(1.1);
    margin-top: 4rem;
    margin-bottom: 2.3rem; }
  main .imagen1:hover {
    transform: scale(1.2); }
  main .imagen2:hover {
    transform: scale(1.2); }

/* estilos del FOOTER es generico en TODOS LOS HTML*/
footer {
  justify-content: center;
  align-content: center;
  text-align: center;
  /* pseudo clases */ }
  footer .piePagina {
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(143, 6, 6, 0.781);
    color: whitesmoke;
    font-family: 'Farsan', cursive; }
  footer .faceMio {
    transform: scale(1.8);
    margin: 1rem; }
  footer .linkEnlace:hover {
    background-color: pink;
    font-weight: bold; }
  footer .linkEnlace:link {
    color: #4b0303;
    background-color: whitesmoke;
    font-weight: bold; }
  footer .linkEnlace:visited {
    color: #4b0303;
    font-weight: bold; }
  footer .linkEnlace:active {
    color: black; }

/* para pantallas superiores a 635px uso de queries, pongo el comentario de abajo para que sirva de separador en lo que me acostumbro */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
@media screen and (min-width: 635px) {
  body {
    background-color: #f8e9f1;
    background-image: url(../img/Logogrande.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 85%;
    background-size: 25rem; }
  /* grids */
  .mainIndex {
    grid-template-areas: "hdosIndex hdosIndex" "parrafoIndex parrafoIndex" "imagen1 imagen2"; }
  .mainQuienes {
    grid-template-areas: "hdosIndex hdosIndex " "parrafoIndex parrafoIndex " "tituloTres tituloTres" "imagenAle imagenKarla " "nombre1 nombre2" "descripcionIntegrante1  descripcionIntegrante2"; }
  .contenedorProductos {
    grid-template-areas: "producto1 producto2 producto3 " "producto4 producto5 producto6 " "producto7 producto8 producto9" "producto10 producto11 producto12 " "producto13 producto14 producto15 " "producto16 producto16 producto16 "; }
  /* estilos del HEADER */
  header {
    /* estilos del MENU */ }
    header .tituloPrincipal {
      font-size: 1.8rem; }
    header nav ul li {
      font-size: 1rem; }
    header .navbar-collapse {
      padding: 0;
      display: flex;
      justify-content: right; }
  /* estilos del MAIN */
  main {
    /* pseudoclase hover para las imagenes 1 y dos de la pagina HTML y QUIENES SOMOS */
    /*  estilo de la tabla donde llena el usuario sus datos del HTML CONTACTANOS*/ }
    main .hdosIndex {
      letter-spacing: .2rem;
      font-size: 2rem; }
    main .parrafoIndex {
      line-height: 1.8rem;
      font-size: 1.25rem;
      margin-left: 4rem;
      margin-right: 4rem; }
    main .imagen1 {
      margin-left: .8rem;
      justify-self: left;
      transform: scale(0.9);
      margin-bottom: 4rem; }
    main .imagen2 {
      margin-right: .8rem;
      justify-self: right;
      transform: scale(0.9);
      margin-bottom: 4rem;
      margin-top: .8rem; }
    main .imagenAle {
      justify-self: center;
      transform: scale(0.95);
      margin-bottom: 1rem; }
    main .imagenKarla {
      justify-self: center;
      transform: scale(0.95);
      margin-bottom: 1rem; }
    main .imagen1:hover {
      transform: scale(1.05); }
    main .imagen2:hover {
      transform: scale(1.05); }
    main .imagenAle:hover {
      transform: scale(1.1); }
    main .imagenKarla:hover {
      transform: scale(1.1); }
    main .nombre1 {
      justify-self: center;
      font-size: 1.5rem; }
    main .nombre2 {
      justify-self: center;
      font-size: 1.5rem; }
    main .descripcionIntegrante1 {
      width: 18rem;
      height: 8rem;
      font-size: 1rem; }
    main .descripcionIntegrante2 {
      width: 18rem;
      height: 8rem;
      font-size: 1rem; }
    main .tituloTres {
      font-size: 2.6rem; }
    main .tablaContactos {
      width: 30rem; } }

/* mayor 1024px-- mayor 1024px--mayor 1024px--mayor 1024px--mayor 1024px--mayor 1024px--mayor 1024px--mayor 1024px--mayor 1024px-- */
/* uso de media query  */
@media screen and (min-width: 1024px) {
  body {
    background-size: 35rem; }
  /* gridS*/
  .mainContactanos {
    grid-template-areas: "hdosIndex hdosIndex" "parrafoIndex parrafoIndex " "tituloTres tituloTres" "tablaContactos imagen3"; }
  .contenedorProductos {
    grid-template-areas: "producto1 producto2 producto3 producto4" "producto5 producto6 producto7 producto8" "producto9 producto10 producto11 producto12 " "producto13 producto14 producto15 producto16"; }
  /* estilos del HEADER */
  header {
    /* estilos del MENU */ }
    header .tituloPrincipal {
      font-size: 2rem; }
  /* estilos del MAIN */
  main .hdosIndex {
    font-size: 2.3rem; }
  main .parrafoIndex {
    line-height: 2rem;
    font-size: 1.4rem;
    margin-left: 8rem;
    margin-right: 8rem; }
  main .imagen1 {
    margin-left: 3rem;
    transform: rotate(13deg); }
  main .imagen2 {
    margin-right: 3rem;
    transform: rotate(-13deg); }
  main .imagenAle {
    margin-left: 3rem;
    transform: rotate(13deg); }
  main .imagenKarla {
    margin-right: 3rem;
    transform: rotate(-13deg); }
  main .descripcionIntegrante1 {
    width: 30rem;
    font-size: 1.1rem; }
  main .descripcionIntegrante2 {
    width: 30rem;
    font-size: 1.1rem; }
  main .tituloTres {
    font-size: 3rem; }
  main .tablaContactos {
    margin-left: 6rem;
    width: 35rem; } }
