/* GRID INDEX******************************************************************************************************/
.mainIndex{
    display: grid;
    grid-template-areas: "hdosIndex "
                         "parrafoIndex "
                         "imagen1 "
                         "imagen2";
    @include propiedadesFlex;
}
/*GRID QUIENES SOMOS**********************************************************************************************/
.mainQuienes{
    display: grid;
    grid-template-areas: "hdosIndex "
                         "parrafoIndex "
                         "tituloTres"
                         "imagenAle"
                         "nombre1"
                         "descripcionIntegrante1"
                         "imagenKarla"
                         "nombre2"
                         "descripcionIntegrante2";
    @include propiedadesFlex;
}
/*GRID CONTACTANOS*************************************************************************************************/
.mainContactanos{
    display: grid;
    grid-template-areas: "hdosIndex "
                         "parrafoIndex "
                         "tituloTres"
                         "tablaContactos"
                         "imagen3";
    @include propiedadesFlex;
}
/*GRID PRODUCTOS***************************************************************************************************/
.contenedorProductos{
    display: grid;
    grid-template-areas: "producto1 producto2 "
                         "producto3 producto4 "
                         "producto5 producto6 "
                         "producto7 producto8 "
                         "producto9 producto10"
                         "producto11 producto12 "
                         "producto13 producto14 "
                         "producto15 producto16 ";
    @include propiedadesFlex;
}
 /* FIN DE GRIDS***************************************************************************************************/
