/* estilos del primer nombre del HTML QUIENES SOMOS */
.nombre1{
    grid-area: nombre1;
    @extend %extnombres;
}
/* estilos del segundo nombre del HTML QUIENES SOMOS */
.nombre2{
    grid-area: nombre2;
    @extend %extnombres;
}
.imagenAle{
    grid-area: imagenAle;
   @extend %imgquienes;
}
.imagenKarla{
    grid-area: imagenKarla;
    @extend %imgquienes;
    margin-bottom:2.3rem ;
}
/* pseudoclase hover para las imagenes 1 y dos de la pagina HTML y QUIENES SOMOS */
.imagenAle:hover{
    transform: scale(1.2);
}
.imagenKarla:hover{
    transform: scale(1.2);
}


/* estilos de la descripcion del HTML QUIENES SOMOS  */
.descripcionIntegrante1{
    grid-area: descripcionIntegrante1;
    @extend %extdescripcion;
}
.descripcionIntegrante2{
    grid-area: descripcionIntegrante2;
    @extend %extdescripcion;
}

