/* asignacion del grid-area en las clases de las imagenes de los productos HTML PRODUCTOS */

@for $num from 1 through 16 {
    .producto#{$num}{
        grid-area: producto#{$num};
        transition: .5s;
    }
}
/* pseudoclase hover para los productos */
@for $num2 from 1 through 16{
    .producto#{$num2}:hover{
        transform: scale(.9);
    }
}

/* estilos de las imagenes de HTML PRODUCTOS */
.contenedorProductos img{
    width: 11rem;
    height: 11rem;
    border: .2rem solid $color_principal;
    margin: .1rem;
}
/* estilos de las letras del HTML PRODUCTOS */
.contenedorProductos p{
   color: $color_principal;
   text-align: center;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 1.2rem;
   margin-bottom: 2rem;
}
/*  estilos de la tabla de productos */
.ListadoPrecios{
    display: flex;
    @include propiedadesFlex;
    margin-bottom: 2rem;
}
section table tr td{
    border: .1rem solid $color_principal;
    font-size: 1.5rem;
}
.letraTabla{
    @include fuentesTam(1.3rem,bold,$color_principal);
    color: $color_titulo;
   
}
/* estilos de la tabla seleccion del HTML PRODUCTOS */
.seleccionProducto{
    margin-bottom: rem;
    @include propiedadesFlex;
    margin-bottom: 4rem;
}
