//variables  DE COLORES
$color_principal: rgba(143, 6, 6, 0.781);
$color_dos:pink;
$color_fondo:#f8e9f1;
$color_titulo:whitesmoke;
$color_tres: white;
$color_link:rgb(75, 3, 3);
$color_parrafo:rgb(54, 2, 2);
$color_cuatro:black;
$color_cinco:rgb(8, 8, 8)